body {
  padding-top: 20px;
  font-family: 'Cabin';
  background-color: rgb(255, 255, 255);
  color: rgb(50, 50, 50);
}

.body-content {
  margin: auto;
  max-width: 900px;
}

a:link {
  color: #0074D9;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #0074D9;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #0074D9;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #0074D9;
  text-decoration: none;
}

section {
  text-align: justify;
}

section p {
  font-size: 16px;
  line-height: 120%;
}

section li {
  font-size: 16px;
  margin: 0 0 3px 0;
}

section img {
  max-height: 250px;
  max-width: 30%;
  float: right;
  margin: 10px 0 0 50px;
  border-radius: 3%;
}

#title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

hr {
  background-color: rgb(50, 50, 50);
  color: rgb(50, 50, 50);
  height: 1px;
  border-width: 0px;
}

ul {
  line-height: normal;
}
